@media (max-width: 1200px) {
  body {
    background-color: #f44336;
  }

  .fundo-video {
    display: none;
    height: auto;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    height: auto;
  }

  .container .atari {
    max-width: 50%;
  }

  .container .informacoes {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container .imagem-titulo {
    max-width: 75%;
  }

  .container .descricao {
    color: #ffffff;
    text-align: center;
  }

  .container .botao-trailer {
    background-color: #263238;
  }
}

@media (max-width: 500px) {
  .cabecalho {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .container .imagem-titulo {
    max-width: 75%;
  }

  .modal .fechar-modal {
    width: 30px;
    line-height: 30px;
  }

  .modal #video {
    width: 600px;
    height: 369px;
  }
}

@media (max-width: 376px) {
  .modal #video {
    width: 350px;
    height: 540px;
  }
}

.secao {
  position: relative;
}
#secao-01 {
  background-color: #2b2a2a;
}
#secao-02 {
  background-color: #000000;
}
#secao-03 {
  background-color: #741212;
}
#secao-04 {
  background-color: #2b2a2a;
}
#secao-05 {
  background-color: #000000;
}
#secao-06 {
  background-color: #741212;
}
.icone-scroll {
  position: absolute;
  bottom: 3em;
  width: 50px;
  height: 50px;
  background-color: #1a1a1a;
  border-radius: 50%;
  left: 50%;
  margin-left: -25px;
  cursor: pointer;
}
.scroll {
  width: 15px;
  height: 15px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: inline-block;
  position: relative;
}
.scroll-next {
  transform: rotate(45deg);
  margin: 14px 0 0 16.5px;
}
.scroll-top {
  transform: rotate(225deg);
  margin: 19px 0 0 17px;
}
.scroll-top + .scroll-top {
  top: -15px;
  margin-top: 0;
}
